<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Magasin</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Main</display-name>
    <servlet-name>Main</servlet-name>
    <servlet-class>tn.essat.controller.Main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Main</servlet-name>
    <url-pattern>/Main</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreProduit</display-name>
    <servlet-name>PreProduit</servlet-name>
    <servlet-class>tn.essat.controller.PreProduit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreProduit</servlet-name>
    <url-pattern>/PreProduit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProduct</display-name>
    <servlet-name>AddProduct</servlet-name>
    <servlet-class>tn.essat.controller.AddProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProduct</servlet-name>
    <url-pattern>/AddProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreAjout</display-name>
    <servlet-name>PreAjout</servlet-name>
    <servlet-class>tn.essat.controller.PreAjout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreAjout</servlet-name>
    <url-pattern>/PreAjout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>tn.essat.controller.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProd</display-name>
    <servlet-name>DeleteProd</servlet-name>
    <servlet-class>tn.essat.controller.DeleteProd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProd</servlet-name>
    <url-pattern>/DeleteProd</url-pattern>
  </servlet-mapping>
</web-app>